<h2>Edit Post</h2>

<form action="<%= posts_url %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Title
    <input type="text" name="post[title]" value="<%= @post.title %>">
  </label>
  <label>URL
    <input type="text" name="post[url]" value="<%= @post.url %>">
  </label>
  <label>Content
    <input type="text" name="post[content]" value="<%= @post.content %>">
  </label>
  <button type="submit" value="submit">Submit</button>
</form>
